* {
    padding: 0px;
    margin: 0px;
}

body {
    max-width: 1440px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

/* header section  */

/* logo section  */
.navigation_bar {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    align-items: center;
}

.logo {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu ul a {
    text-decoration: none;
    padding-right: 24px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* top section  */

.top_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.div_text {
    text-align: left;
    width: 580px;
}

.heading {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}

.heading_description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    padding: 26px 0px;
}

.top_button {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
}

.top_image {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 0px;
}

/* compnay logo  */

.company_logo_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 70px 165px 0px 165px;

}



/* responsive style  */
@media screen and (max-width: 576px) {

    .navigation_bar {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .top_section {
        flex-direction: column-reverse
    }

    .div_text {

        width: 90%;
        text-align: center;
    }

    .company_logo_div {
        justify-content: space-evenly;
        width: auto;
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        gap: 30px;
    }

}

/* responsive medium device  */

@media screen and (min-width: 576px) and (max-width: 992px) {


    .navigation_bar {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
    }

    .top_section {
        flex-direction: column-reverse
    }

    .div_text {

        width: 90%;
        text-align: center;
    }

    .company_logo_div {
        justify-content: space-evenly;
        width: auto;
        display: flex;
        padding: 20px;
        flex-wrap: wrap;
        gap: 30px;
    }


}